@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.custom_submit-bg {

    background-image: url('../public/svg/d20-dice.svg');
    background-position: center;
    background-size: 50%;
    /* Or any other size adjustments */
    background-repeat: no-repeat;
}

body {
    font-family: witcher;
}

.custom_bg-light-beige {
    background-color: rgb(245, 223, 202);
}

.custom_bg-beige {
    background-color: rgb(233, 206, 181);
}

textarea {
    resize: none;
}

.custom_bg-dark-gray {
<<<<<<< HEAD
    background-color: rgb(46, 46, 56);
}

.custom_bg-gray {
    background-color: rgb(83, 80, 94);
=======
    background-color: rgb(11, 11, 19);
}

.custom_bg-gray {
    background-color: rgb(30, 28, 36);
}

div[contenteditable] {
    max-height: 200px;
    word-wrap: break-word;
    overflow: auto;
>>>>>>> 93914ea (more ui changes)
}