@tailwind base;
@tailwind components;
@tailwind utilities;

.custom_submit-bg {

    background-image: url('../public/svg/d20-dice.svg');
    background-position: center;
    background-size: 50%;
    /* Or any other size adjustments */
    background-repeat: no-repeat;
}

body {
    font-family: witcher;
}

.custom_bg-light-beige {
    background-color: rgb(245, 223, 202);
}

.custom_bg-beige {
    background-color: rgb(233, 206, 181);
}

textarea {
    resize: none;
}

.custom_bg-dark-gray {
    background-color: rgb(46, 46, 56);
}

.custom_bg-gray {
    background-color: rgb(83, 80, 94);
}