@tailwind base;
@tailwind components;
@tailwind utilities;

.custom_submit-bg {

    background-image: url('../public/svg/d20-dice.svg');
    background-position: center;
    background-size: 50%;
    /* Or any other size adjustments */
    background-repeat: no-repeat;
}

@font-face {
    font-family: "witcher";
    src: url('../public/fonts/witcherKnight.ttf') format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "breathFire";
    src: url('../public/fonts/breathFire.ttf') format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "wonderWorld";
    src: url('../public/fonts/wonderWorld.otf') format("otf");
    font-style: normal;
}

body {
    font-family: witcher;
}

.custom_bg-light-beige {
    background-color: rgb(153, 127, 105);
}

.custom_bg-beige {
    background-color: rgb(109, 80, 57);
}